.gallery {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.gallery h2 {
  font-size: 4rem;
  font-family: 'Space Grotesk', sans-serif;
}
.gallery p {
  max-width: 500px;
}

@media (max-width: 768px) {
  .gallery h2 {
    font-size: 2.5rem;
  }
}